.Slider-visible-true {
  --visibility-slider: visible;
}

.Slider-visible-false {
  --visibility-slider: hidden;
}

.Slider-whole {
  padding: 10px;
}

.Slider-questions {
  justify-content: left;
  text-align: center;
}

.Slider-text {
  visibility: var(--visibility-slider);
  justify-content: left;
  font-size: large;
  margin-left: 70px;
}

.Slider-value {
  visibility: var(--visibility-slider);
  justify-content: left;
  font-size: large;
  margin-left: 41px;
  margin-bottom: 1vh;
}

.Slider-slider {
  visibility: var(--visibility-slider);
  transform: rotate(270deg);
  width: 100px;
}

.DetailedQuestions-questions {
  align-items: left;
  text-align: left;
  align-self: left;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 5vh;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-body-TextBackground);
}

.DetailedQuestions-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.DetailedQuestions-report {
  font-weight: bold;
  color: var(--color-body-text);
  border: var(--color-body-ButtonBorder);
  background-color: var(--color-body-Button);
  position: absolute;
  width: calc(50% - 5px);
  left: calc(50% + 5px);
  margin: 0;
  padding: 10px;
}

.DetailedQuestions-progress-bar {
  position: absolute;
  display: flex;
  margin-top: 5vh;
  margin-left: 20vh;
  border-radius: 10px;
  width: 200px;
  height: 500px;
  transform: rotate(180deg);
  background-color: var(--color-body-ProgressBackground);
}

.DetailedQuestions-progress-bar-foreground {
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    var(--color-body-BarGradient),
    var(--color-body-BarColor)
  );
  transition: height 0.5s ease;
}

.DetailedQuestions-progress-bar-percentage {
  position: absolute;
  align-self: center;
  left: 0;
  right: 0;
  width: 200px;
  margin-top: 450px;
  transform: rotate(180deg);
  color: var(--color-body-questionText);
}

.DetailedQuestions-progress-bar-foreground {
  position: relative;
  width: 200px;
  height: 500px;
}

.DetailedQuestions-question-number {
  position: absolute;
  align-self: center;
  left: 0;
  right: 0;
  margin-bottom: 450px;
  transform: rotate(180deg);
  color: var(--color-body-questionText);
}
