.Slider-visible-true {
  --visibility-slider: visible;
}

.Slider-visible-false {
  --visibility-slider: hidden;
}

.Slider-questions {
  justify-content: left;
}

.Slider-text {
  visibility: var(--visibility-slider);
  justify-content: left;
  font-size: large;
  margin-left: 70px;
}

.Slider-value {
  visibility: var(--visibility-slider);
  justify-content: left;
  font-size: large;
  margin-left: 41px;
  margin-bottom: 1vh;
}

.Slider-slider {
  visibility: var(--visibility-slider);
  transform: rotate(270deg);
  width: 100px;
}

.DetailedQuestions-questions {
  align-items: left;
  text-align: left;
  align-self: left;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 5vh;
  margin-bottom: 0px;
}

.DetailedQuestions-buttons {
  position: absolute;
  top: 0;
  margin-top: 45vh;
}

.DetailedQuestions-progress-bar {
  position: absolute;
  display: flex;
  margin-top: 5vh;
  margin-left: 20vh;
  width: 200px;
  height: 500px;
  transform: rotate(180deg);
  background-color: var(--color-body-ProgressBackground);
}

.DetailedQuestions-progress-bar-foreground {
  background: linear-gradient(
    to bottom,
    var(--color-body-BarGradient),
    var(--color-body-BarColor)
  );
  transition: height 0.5s ease;
}

.DetailedQuestions-question-number {
  position: absolute;
  align-self: center;
  left: 0;
  right: 0;
  margin-bottom: 450px;
  transform: rotate(180deg);
  color: var(--color-body-questionText);
}

.DetailedQuestions-progress-bar-percentage {
  position: absolute;
  align-self: center;
  left: 0;
  right: 0;
  width: 200px;
  margin-top: 450px;
  transform: rotate(180deg);
  color: var(--color-body-questionText);
}

.DetailedQuestions-progress-bar-foreground {
  position: relative;
  width: 200px;
  height: 500px;
}

.DetailedQuestions-answers-display {
  visibility: hidden;
  margin-left: 300px;
}
