.body-theme1 {
  --color-body-background: #59c9a5;
  --color-body-text: #000000;
  --color-body-Headerbackground: #56e39f;
  --color-body-Headertext: #000000;
  --color-body-Button: #c5696f;
  --color-body-ButtonDisabled: #b7656b;
  --color-body-ButtonHover: #ae5b61;
  --color-body-ButtonBorder: #000000;
  --color-body-questionText: #ffffff;
}

.body-theme2 {
  --color-body-background: #59c9a5;
  --color-body-text: #000000;
  --color-body-Headerbackground: #56e39f;
  --color-body-Headertext: #000000;
  --color-body-Button: #c5696f;
  --color-body-ButtonDisabled: #b7656b;
  --color-body-ButtonHover: #ae5b61;
  --color-body-ButtonBorder: #000000;
  --color-body-questionText: #ffffff;
}

.body-theme3 {
  --color-body-background: #59c9a5;
  --color-body-text: #000000;
  --color-body-Headerbackground: #56e39f;
  --color-body-Headertext: #000000;
  --color-body-Button: #c5696f;
  --color-body-ButtonDisabled: #b7656b;
  --color-body-ButtonHover: #ae5b61;
  --color-body-ButtonBorder: #000000;
  --color-body-questionText: #ffffff;
}

.body-theme4 {
  --color-body-background: #59c9a5;
  --color-body-text: #000000;
  --color-body-Headerbackground: #56e39f;
  --color-body-Headertext: #000000;
  --color-body-Button: #c5696f;
  --color-body-ButtonDisabled: #b7656b;
  --color-body-ButtonHover: #ae5b61;
  --color-body-ButtonBorder: #000000;
  --color-body-questionText: #ffffff;
}

.body-theme5 {
  --color-body-background: #000000;
  --color-body-text: #ffffffac;
  --color-body-Headerbackground: #1a1625;
  --color-body-Headertext: #ffffffac;
  --color-body-Button: #382bf0;
  --color-body-ButtonDisabled: #5e43f3;
  --color-body-ButtonHover: #5e43f3;
  --color-body-ButtonBorder: #000000;
}

.General-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  min-height: 10vh;
  font-size: calc(15px + 3vmin);
  color: var(--color-body-Headertext);
  background-color: var(--color-body-Headerbackground);
}

.Header-toggle {
  position: absolute;
  align-items: left;
  justify-content: center;
  margin-left: 2%;
  left: 0;
  margin-bottom: 1vh;
  font-size: calc(7px + 1vw);
  color: var(--color-body-Headertext);
}

.Header-button {
  position: absolute;
  justify-content: center;
  align-items: right;
  margin-right: 2%;
  right: 0;
  font-size: calc(10px + 2vw);
  color: var(--color-body-Headertext);
}

.Page-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 3vh;
  min-height: 90vh;
  font-size: calc(6px + 2vmin);
  color: var(--color-body-text);
  background-color: var(--color-body-background);
}

.Button-link {
  font-weight: bold;
  color: var(--color-body-text);
  border: var(--color-body-ButtonBorder);
  background-color: var(--color-body-Button);
}

.Button-link:hover {
  color: var(--color-body-text);
  background-color: var(--color-body-ButtonHover);
}

.API-Footer {
  background-color: black;
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
