.body {
  --color-body-background: #EEB3F9;
  --color-body-text: #000000;
  --color-body-Headerbackground: #5261ab;
  --color-body-Headertext: #000000;
  --color-body-Button: #00B3FF;
  --color-body-ButtonDisabled: #00B3FF;
  --color-body-ButtonHover: #52CBFF;
  --color-body-ButtonBorder: #000000;
  --color-body-questionText: #FFFFFF;
}

.body-dark {
  --color-body-background: #303030;
  --color-body-text: #1EEB36;
  --color-body-Headerbackground: #173848;
  --color-body-Headertext: #1EEB36;
  --color-body-Button: #425866;
  --color-body-ButtonDisabled: #425866;
  --color-body-ButtonHover: #4F6678;
  --color-body-ButtonBorder: #000000;
}

.General-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  min-height: 10vh;
  font-size: calc(15px + 3vmin);
  color: var(--color-body-Headertext);
  background-color: var(--color-body-Headerbackground);
}

.Header-toggle {
  position: absolute;
  align-items: left;
  justify-content: center;
  top: 0;
  margin-top: 3vh;
  margin-left: 5%;
  left: 0;
  font-size: calc(13px + 1vmin);
  color: var(--color-body-Headertext);
}

.Header-button {
  position: absolute;
  justify-content: center;
  align-items: right;
  top: 0;
  margin-top: 2vh;
  margin-right: 5%;
  right: 0;
  font-size: calc(13px + 2vmin);
  color: var(--color-body-Headertext);
}

.Page-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 3vh;
  min-height: 90vh;
  font-size: calc(6px + 2vmin);
  color: var(--color-body-text);
  background-color: var(--color-body-background);
}

.Button-link {
  font-weight: bold;
  color: var(--color-body-text);
  border: var(--color-body-ButtonBorder);
  background-color: var(--color-body-Button);
}

.Button-link:hover {
  color: var(--color-body-text);
  background-color: var(--color-body-ButtonHover);
}

.API-Footer {
  background-color: black;
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
