.body-theme1 {
  --color-body-background: #2274a5;
  --color-body-text: #231123;
  --color-body-Headerbackground: #85aab6;
  --color-body-Headertext: #231123;
  --color-body-Button: #6c567a;
  --color-body-ButtonDisabled: #6c567a;
  --color-body-ButtonHover: #c490d1;
  --color-body-ButtonBorder: #000000;
  --color-body-questionText: #faf9f6;
  --color-body-ProgressBackground: #000000;
  --color-body-BarGradient: orange;
  --color-body-BarColor: green;
  --color-body-TextBackground: white;
  --color-body-SliderThumb: blue;
}

.body-theme2 {
  --color-body-background: #a7acd9;
  --color-body-text: #faf9f6;
  --color-body-Headerbackground: #9e8fb2;
  --color-body-Headertext: #faf9f6;
  --color-body-Button: #93c6d6;
  --color-body-ButtonDisabled: #008080;
  --color-body-ButtonHover: #008080;
  --color-body-ButtonBorder: #faf9f6;
  --color-body-questionText: #faf9f6;
  --color-body-ProgressBackground: #000000;
  --color-body-BarGradient: #af73ca;
  --color-body-BarColor: #67b1c8;
  --color-body-TextBackground: rgb(0, 0, 0);
  --color-body-SliderThumb: blue;
}

.body-theme3 {
  --color-body-background: #0b3312;
  --color-body-text: #ffffffd8;
  --color-body-Headerbackground: #04280b;
  --color-body-Headertext: #ffffffda;
  --color-body-Button: #1c7c2d;
  --color-body-ButtonDisabled: #144d1f;
  --color-body-ButtonHover: #32b64c;
  --color-body-ButtonBorder: #000000;
  --color-body-questionText: #faf9f6;
  --color-body-ProgressBackground: #000000;
  --color-body-BarGradient: #6b6b6b;
  --color-body-BarColor: rgb(62, 160, 84);
  --color-body-TextBackground: rgb(0, 0, 0);
  --color-body-SliderThumb: blue;
}

.body-theme4 {
  --color-body-background: #087d8c;
  --color-body-text: #faf9f6;
  --color-body-Headerbackground: #095265;
  --color-body-Headertext: #faf9f6;
  --color-body-Button: #bb9f06;
  --color-body-ButtonDisabled: #9b870c;
  --color-body-ButtonHover: #9b870c;
  --color-body-ButtonBorder: #faf9f6;
  --color-body-questionText: #faf9f6;
  --color-body-ProgressBackground: #000000;
  --color-body-BarGradient: #6b6b6b;
  --color-body-BarColor: #9b870c;
  --color-body-TextBackground: rgb(38, 29, 29);
  --color-body-SliderThumb: blue;
}

.body-theme5 {
  --color-body-background: #000000;
  --color-body-text: #ffffffac;
  --color-body-Headerbackground: #1a1625;
  --color-body-Headertext: #ffffffac;
  --color-body-Button: #382bf0;
  --color-body-ButtonDisabled: #5e43f3;
  --color-body-ButtonHover: #5e43f3;
  --color-body-ButtonBorder: #000000;
  --color-body-questionText: #faf9f6;
  --color-body-ProgressBackground: #000000;
  --color-body-BarGradient: #6c0e4e;
  --color-body-BarColor: #2b13a4;
  --color-body-TextBackground: rgb(33, 25, 25);
  --color-body-SliderThumb: blue;
}

.body-theme6 {
  --color-body-background: #303030;
  --color-body-text: #1eeb36;
  --color-body-Headerbackground: #173848;
  --color-body-Headertext: #1eeb36;
  --color-body-Button: #425866;
  --color-body-ButtonDisabled: #425866;
  --color-body-ButtonHover: #4f6678;
  --color-body-ButtonBorder: #000000;
  --color-body-questionText: #1eeb36;
  --color-body-ProgressBackground: #000000;
  --color-body-BarGradient: #6b6b6b;
  --color-body-BarColor: rgb(47, 145, 101);
  --color-body-TextBackground: rgb(35, 28, 28);
  --color-body-SliderThumb: blue;
}

.body-theme7 {
  --color-body-background: #42cb9f;
  --color-body-text: #000000;
  --color-body-Headerbackground: #56e39f;
  --color-body-Headertext: #000000;
  --color-body-Button: #d04750;
  --color-body-ButtonDisabled: #b7656b;
  --color-body-ButtonHover: #c5696f;
  --color-body-ButtonBorder: #000000;
  --color-body-questionText: #ffffff;
  --color-body-ProgressBackground: #000000;
  --color-body-BarGradient: #4fffaa;
  --color-body-BarColor: red;
  --color-body-TextBackground: #ffffff;
  --color-body-SliderThumb: blue;
}

.General-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  min-height: 10vh;
  background-color: var(--color-body-Headerbackground);
  font-family: Arial;
}

.Header-toggle {
  position: absolute;
  align-items: left;
  justify-content: center;
  margin-left: 2%;
  left: 0;
  font-size: calc(7px + 1vw);
  color: var(--color-body-Headertext);
}

.Header-button {
  position: absolute;
  justify-content: center;
  align-items: right;
  margin-right: 2%;
  right: 0;
  font-size: calc(10px + 2vw);
  color: var(--color-body-Headertext);
  margin-bottom: 4px;
}

.Header-text {
  font-size: calc(15px + 3vmin);
  color: var(--color-body-Headertext);
  font-family: stencil;
}

.Page-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 3vh;
  min-height: 90vh;
  font-size: calc(6px + 2vmin);
  color: var(--color-body-text);
  background-color: var(--color-body-background);
  font-family: Arial;
}

.Button-link {
  font-weight: bold;
  color: var(--color-body-text);
  border: var(--color-body-ButtonBorder);
  background-color: var(--color-body-Button);
}

.Button-link:hover {
  color: var(--color-body-text);
  background-color: var(--color-body-ButtonHover);
}

.API-Footer {
  background-color: black;
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: Arial;
}

/*
  purple
  brown
  #0E666C
  #2B13A4
  #6C0E4E
  #5AAA95
  #86A873
  #668586
  #82AEB1
*/
