.Home-body {
  margin-bottom: 5vh;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-body-TextBackground);
}

.Home-text-basic {
  right: 0;
  margin-right: 5%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-body-TextBackground);
  margin-bottom: 3vh;
}

.Home-text-detailed {
  left: 0;
  margin-left: 5%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-body-TextBackground);
  margin-bottom: 3vh;
}

.Home-button {
  color: var(--color-body-text);
  text-align: center;
}
