.Home-text {
  text-align: left;
  margin-bottom: 5vh;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-body-TextBackground);
  text-justify: auto;
}

.Home-text-basic {
  right: 0;
  margin-left: 10%;
  margin-right: 5%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-body-TextBackground);
}

.Home-text-detailed {
  left: 0;
  margin-right: 10%;
  margin-left: 5%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-body-TextBackground);
}

.Home-button {
  color: var(--color-body-text);
  text-align: center;
}
