.Button-visible-true {
  --visibility-button: visible;
}

.Button-visible-false {
  --visibility-button: hidden;
}

.Button-next {
  visibility: var(--visibility-button);
  font-weight: bold;
  color: var(--color-body-text);
  border: var(--color-body-ButtonBorder);
  background-color: var(--color-body-Button);
}

.Button-next:hover {
  visibility: var(--visibility-button);
  color: var(--color-body-text);
  background-color: var(--color-body-ButtonHover);
}

.Button-next-2 {
  visibility: var(--visibility-button);
  font-weight: bold;
  color: var(--color-body-text);
  border: var(--color-body-ButtonBorder);
  background-color: var(--color-body-Button);
}

.Button-next-2:hover {
  visibility: var(--visibility-button);
  color: var(--color-body-text);
  background-color: var(--color-body-ButtonHover);
}

.Button-back {
  font-weight: bold;
  color: var(--color-body-text);
  border: var(--color-body-ButtonBorder);
  background-color: var(--color-body-Button);
}

.Button-back:hover {
  color: var(--color-body-text);
  background-color: var(--color-body-ButtonHover);
}

.Button-back:disabled {
  color: var(--color-body-text);
  background-color: var(--color-body-ButtonDisabled);
}

.Button-report {
  visibility: var(--visibility-button);
}
