.Report-header {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}

.Report-body {
  font-size: large;
}
