.Report-header {
  font-size: x-large;
}

.Report-space {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-body-TextBackground);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 5%;
}

.Report-body {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.Button-chatGPT {
  font-weight: bold;
  color: var(--color-body-text);
  border: var(--color-body-ButtonBorder);
  background-color: var(--color-body-Button);
}

.Report-results-header {
  font-weight: bold;
  font-size: 26px;
}

.Report-results {
  text-align: left;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 2vh;
}
