.Simple-body {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 90vh;
  padding-top: 3vh;
  font-size: calc(5px + 2vmin);
  background-color: var(--color-body-background);
  color: var(--color-body-text);
  font-family: Arial;
}

.Simple-progress {
  color: var(--color-body-questionText);
  padding: 10px;
}

.Simple-question-number {
  position: absolute;
}

.Simple-progress-outer {
  color: var(--color-body-questionText);
  position: relative;
  display: flex;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: var(--color-body-ProgressBackground);
}

.Simple-progress-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--color-body-BarGradient),
    var(--color-body-BarColor)
  );
  transition: width 0.5s ease;
}

.Simple-progress-percentage {
  position: relative;
  margin-left: auto;
  align-self: right;
}

.Simple-textSpace {
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  padding: 10px;
  color: var(--color-body-text);
  background-color: var(--color-body-TextBackground);
}

.Simple-question-body {
  padding: 10px;
}

.Simple-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}

.Simple-back-bottom {
  position: absolute;
  align-items: right;
  margin-right: 5%;
  margin-top: 0px;
  right: 0;
}

.Simple-back-top {
  position: relative;
  align-items: left;
  left: 0;
  right: 1;
  margin-right: 90vw;
}
