.Simple-body {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 90vh;
  padding-top: 3vh;
  font-size: calc(5px + 2vmin);
  background-color: var(--color-body-background);
  color: var(--color-body-text);
}

.Simple-progress {
  color: var(--color-body-questionText);
  padding: 10px;
}

.Simple-progress-outer {
  color: var(--color-body-questionText);
  position: relative;
  display: flex;
  background: black;
  padding: 10px;
}

.progress-bar-indicator {
  height: 100%;
  border-radius: 10px; /* Half of the height to make it round */
  transition: width 0.5s ease; /* Adding transition for animation */
}

.Simple-progress-percentage {
  margin-left: auto;
  align-self: right;
}

.Simple-question {
  color: var(--color-body-questionText);
  padding: 10px;
}

.Simple-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.Simple-option-1 {
  position: absolute;
  left: 1;
  right: 0;
  padding-right: 55vw;
}

.Simple-option-2 {
  position: absolute;
  left: 1;
  right: 1;
  padding-right: 0;
  margin-right: 0;
  padding-left: 7.5vw;
}

.Simple-back-bottom {
  position: absolute;
  align-items: right;
  margin-right: 5%;
  margin-top: 0px;
  right: 0;
}

.Simple-back-top {
  position: relative;
  align-items: left;
  left: 0;
  right: 1;
  margin-right: 90vw;
}
