.container {
    width: 200px;
    margin-top: 20px;
}

.progress-bar {
    box-shadow: 0px 2.98256px 7.4564px 5px rgba(0, 0, 0, 0.1);
    border-color: black;
    border: 3px solid black;
    margin-top: 35px;
    width: 650px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(190, 190, 190);
    margin-bottom: 10px;
    position: relative;
}

.progress-label {
    font-size: 30px;
    font-weight: bold;
}

.progress-bar-fill {
    height: 100%;
    border-radius: 10px;
    background-color: rgb(19, 161, 0);
    transition: width 0.5s ease-out;
}