/* This defines the stlying for basic quiz page */

.quiz-desc-header-container {
    display: flex;
    justify-content: center;
    /* background-color: #1b5184; */
}

.quiz-desc-header {
    margin: 20px;
    width: 95%;
    height: auto;
    padding: 20px;
    border: solid 1px grey;
    text-align: center;
    border-radius: 5px;
    overflow: overlay;
    box-shadow: 10px 5px 5px rgb(21, 21, 21);
    /* background-color: white; */
    /* color: black; */
}

.question-row{
    display:flex;
    justify-content: space-around;
    margin-top:35px;
    margin-bottom: 100px;
    /* background-color: #1b5184; */
}

.question {
    /* background-color: white; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 20%;
    border: 1px solid grey;
    /* padding: 15px 5px; */
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(21, 21, 21);
    /* color: black; */
}

.QuestionNum {
    font-size: 22px;
    margin-left: 6px;
    margin-top: 12px;
    /* position: aboslute; */

}

.stack {
    margin-bottom: 30px;
}

.basic-title{
    font-family: Georgia, serif;
    margin-left: 20px;
}

.button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 16px;
}
