.basic-questions-page-header {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2.98256px 7.4564px 5px rgba(0, 0, 0, 0.1);

    min-height: 3vh;
    min-width: 40vh;
    max-width: 100vh;
    width: 60%;

    margin-bottom: 50px;
    padding: 1vh 2.5vw;
    margin-top: -30vh;
}

.basic-questions-page--heading {
    width: 100%;
    font-size: 4vh;
    margin: 1% 0 0 0
}