.previous-button, .reveal-answers-button, .next-button {
    margin-top: 25px;
    border-radius: 6px;
    background-color: rgb(49, 49, 49);
    box-shadow: 0px 2.98256px 7.4564px 5px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    min-height: 50px;
    max-height: 100px;
    min-width: 150px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.buttons > button {
    margin: 0 20px;
}

