.QuestionNum {
    font-size: 50px;
    margin-left: 35px;
    display:flex;	
    }


.question-container{
    display:flex;
    align-items:center;
    flex-direction: row;
    margin-top:35px
}

.radio-container{
    display:flex;
    justify-content: space-between;
}

.last4{
    margin-bottom: 30px;
}

.basic-title{
    font-family: Georgia, serif;
    margin-left: 20px;
}

.page-color{
    background-color:#e8f1ff91; 
}

