.QuestionNum {
    font-size: 50px;
    margin-left: 35px;
    display:flex;	
    }

.question-container{
    display:flex;
    align-items:center;
    flex-direction: row;
    margin-top:35px;
}

.radio-container{
    display:flex;
    justify-content: space-between;
}

.last4{
    margin-bottom: 30px;
}

.basic-title{
    font-family: Georgia, serif;
    margin-left: 20px;
}

.button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 16px;
}

.quiz-desc-header {
    margin: 20px;
    width: 95%;
    height: auto;
    padding: 20px;
    border: solid 1px grey;
    text-align: center;
    border-radius: 5px;
    overflow: overlay;
    box-shadow: 10px 5px 5px rgb(86, 86, 86);
}
