#progressBar {
    width: 100%;
    background-color: gray;
}
#myBar { 
    width: 1%;
    height: 30px;
    background-color: green;
}
form {
    border: 2px solid #ccc; /* Form border */
  padding: 20px;          /* Padding within the form */
  max-width: 400px;       /* Max width to center the form */
  margin: auto; 
}