.multiple-answers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.question-box{
    padding: 16px 24px;
}

.info-portion{
    padding: 12px 18px;
}