.multiple-answers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 18px 24px;
}

.question-box{
    padding-left: 20px;
    border: 1px solid black;
}

.info-portion{
    margin-bottom: 20px;
    padding-left: 18px;
}