.question-box {
    display:flex;
    gap:10px;
    padding: 16px 24px;
    margin-bottom:50px;
}
h3 { /* Question headers*/
    margin-left: 25px;
}

/*.detailed-title{
    font-family: Georgia, serif;
    margin-left:20px
}

.detailed-info{
    display:flex;
    text-align:center;
    font-size:20px;
    padding-left: 125px;
    padding-right: 125px;
}*/

.detailed-progress{
    margin-left:100px;
    margin-right: 100;
    margin-bottom:20px;
    margin-right: 100px
}

.answer-box{
    display:flexbox;
    height:fit-content;
    margin-left: -10px;
    }
.questionPrompt{
    font-weight:bold;
    margin-left: 25px;
    
}
.reg-radio{
    display: flex;
    flex-direction: row;
    max-width:20%;
    border: 1px solid #ccc; /* Add a border around the radio button */
    border-radius: 5px; /* Rounded corners */
    background-color: --foreground-color; /* Add a grey background color */
    padding: 5px; /* Add padding around the radio button */
    margin-right: 2px; /* Add space between radio buttons */
    transition: background-color 0.75s ease; /* Makes the container blue and changes text to white */
    &:hover {
        background-color: #0d6efd;
        color: white;
    }
}

.offCanvas-title{
    font-size:35px;
}

.page-color{
    background-color: var(--background-color);
    color: var(--text-color);
}