.splashPage{
    height: auto;
    width: 100%;
}

.splash-container {
    position: relative;
    text-align: center;
    
}

.splash-container div{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.2vw;
    font-weight: bold;
    font-family: "Ivar Headline";
    text-shadow: 5px 5px #558ABB;
    color: white;
}

.splash-container div.one {
    top: 20%;
}

.splash-container div.two {
    top: 40%;
}

.splash-container div.three {
    top: 65%;
}

.splash-container a {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 85%;
    font-size: 2vw;
    background-color: white;
    border: solid 1px rgb(33, 72, 197);
    color: rgb(33, 72, 197);
    border-radius: 5px;
    padding: 3px 7px;
    text-decoration: none;
    &:hover {
        background-color: rgb(33, 72, 197);
        color: white;
    }
}

#quiz-descs {
    scroll-margin-block-start: 110px;
    scroll-margin-block-end: 110px;
}

.quiz-desc-container {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: solid 1px grey;
}

.quiz-desc {
    height: 360px;
    border: solid 1px grey;
    text-align: center;
    transition: background-color 0.75s ease, margin-top 0.75s ease, color 0.75s ease;
    border-radius: 5px;
    overflow: overlay;
    box-shadow: 10px 5px 5px rgb(86, 86, 86);
   
    &:hover {
        margin-top: -9px;
        background-color: rgb(33, 72, 197);
    }
    &:hover h3 {
        color: white;
    }
    &:hover p {
        color: white;
    }
    cursor: pointer;
}

.quiz-desc h3 {
    margin-top: 20px;
    color: var(--primary-color);
}

.text {
   margin-left: 35px;
   margin-right: 35px;
   color: var(--primary-color);
}

.quiz-desc Link {
    text-decoration: none;
    transition: color 0.75s ease;
    &:hover {
        color: white;
    }
}

.quiz-data-container {
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: #CED4DA solid 1px;
}

.quiz-data-text {
    width: 20%;
    text-align: center;
    overflow: overlay;
    font-size: 26px;
    height: 90%;
    margin-top: 190px;
}

.quiz-data-graph {
    width: 70%;
    border: solid 1px grey;
    border-radius: 2%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 5px 5px rgb(86, 86, 86);
}

.quiz-data-graph .piechart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quiz-data-graph .piechart .legend {
    margin-left: 40px;
}

.quiz-data-graph .piechart p {
    padding-top: 30px;
    font-size: 22px;
    text-align: center;
}

.quiz-data-graph p {
    padding-top: 30px;
    font-size: 12px;
    text-align: center;
}


:root {
    --primary-color: blue
}