.splashPage{
    height: auto;
    width: 100%;
}

.splash-container {
    position: relative;
    text-align: center;
    border-bottom: solid 1px grey;
    
}

.splash-container div{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.2vw;
    font-weight: bold;
    font-family: "Ivar Headline";
    text-shadow: 5px 5px #558ABB;
    color: white;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.splash-container div.one {
    top: 20%;
    animation-delay: 1s;
}

.splash-container div.two {
    top: 40%;
    animation-delay: 3s;
}

.splash-container div.three {
    top: 65%;
    animation-delay: 5s;
}



/* .splash-container a {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 85%;
    font-size: 20px;
    background-color: white;
    border: solid 1px rgb(33, 72, 197);
    color: rgb(33, 72, 197);
    border-radius: 5px;
    padding: 3px 7px;
    text-decoration: none;
    &:hover {
        background-color: rgb(33, 72, 197);
        color: white;
    }
} */

#quiz-descs {
    scroll-margin-block-start: 110px;
    scroll-margin-block-end: 110px;
}

.quiz-desc-container {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    background-color: #1b5184;
}

.quiz-desc {
    height: 360px;
    border: solid 1px grey;
    text-align: center;
    transition: background-color 0.75s ease, margin-top 0.75s ease, color 0.75s ease;
    border-radius: 5px;
    overflow: overlay;
    box-shadow: 10px 5px 5px rgb(21, 21, 21);
    color: rgb(33, 72, 197);
    background-color: white;
   
    &:hover {
        margin-top: -9px;
        background-color: rgb(33, 72, 197);
    }
    &:hover h3 {
        color: white;
    }
    &:hover p {
        color: white;
    }
    cursor: pointer;
}

.quiz-desc h3 {
    margin-top: 20px;
    color: var(--primary-color);
}

.text {
   margin-left: 35px;
   margin-right: 35px;
   color: var(--primary-color);
}

.quiz-desc Link {
    text-decoration: none;
    transition: color 0.75s ease;
    color: rgb(33, 72, 197);
    &:hover {
        color: white;
    }
}

.quiz-data-row {
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1b5184;
}

.quiz-data-container {
    width: 85%;
    border: solid 1px grey;
    border-radius: 2%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 5px 5px rgb(21, 21, 21);
    align-items: center;
    /* background-color: white; */
    /* color: black; */
}

.quiz-data-text {
    width: 35%;
    height: 90%;
    text-align: center;
    overflow: overlay;
    font-size: 36px;
}

.quiz-data-graph .piechart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quiz-data-graph .piechart .legend {
    margin-left: 40px;
}

.quiz-data-graph .piechart p {
    padding-top: 30px;
    font-size: 22px;
    text-align: center;
}

.quiz-data-graph p {
    padding-top: 30px;
    font-size: 12px;
    text-align: center;
}

.apikey-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1b5184;
}

.apikey-container { 
    height: 160px;
    width: 85%;
    border: solid 1px grey;
    border-radius: 5%;
    box-shadow: 10px 5px 5px rgb(21, 21, 21);
    margin-bottom: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);
    color: var(--text-color);
}




:root {
    --primary-color: rgb(33, 72, 197);
}