.home-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.home-column {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-button {
    background-color: #6fb4fe;
    color: white;
    padding: 10px 100px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.basic-button,
.detailed-button {
    background-color: #6fb4fe;
    color: white;
    padding: 10px 100px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}