@font-face { /* Font for questions and labels */
    font-family: 'Poppins Light';
    src: url('./Poppins-Light.ttf') format('truetype');
}

.column {
    margin: 1vw; 
    padding: 3vw; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.questionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.option {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 2vw;
    margin-top: 2vw;
}

.option label {
    font-family: "Poppins light", sans-serif;
    font-size: 1.2vw; 
    font-weight: bold;
    margin-bottom: 1vw; 
    margin-top: 0.1vw; 
}

.question {
    font-family: "Poppins light", sans-serif;
    font-size: 1.5vw; 
}

.footer-space {
    height: 5vw; 
}

.response {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    font-family: "Poppins light", sans-serif;
    font-size: 1vw;
}

.response-button {
    padding: 0.5vw 3vw; 
    background-color: #86c0ff;
    color: white;
    border-radius: 20px;
    border-color: white;
    cursor: pointer;
    font-size: 1.2vw; 
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s, transform 0.3s;
}

.response-button:hover {
    transform: scale(1.1);
}

.confetti-container{
    position: fixed;
    margin-left: 50vw;
    z-index: 1000; /* Ensure the confetti container is above other elements */
}

.detailed-switch {
    font-family: "Poppins light", sans-serif;
    font-size: 1.3vw;
    top: 0vw;
    left: 99.9vw; 
    padding: 4vw 0.5vw;
    border-radius: 10px;
    border-color: #86c0ff;
    cursor: pointer;
    position: fixed;
    background-color: #86c0ff;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    transform-origin: bottom left;
    transition: padding 0.3s ease;
}

.detailed-switch:hover {
    padding-left: 4vw;
    background-color: #4a90e2;
    border-color: #86c0ff;
    font-weight: bold;
}

.basic-switch {
    font-family: "Poppins light", sans-serif;
    font-size: 1.3vw;
    left: -0.9vw;
    top: 13vw; 
    padding: 5vw 0.5vw;
    border-radius: 1vw;
    border-color: #86c0ff;
    cursor: pointer;
    position: fixed;
    background-color: #86c0ff;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform-origin: bottom left;
    transition: padding 0.3s ease;
}

.basic-switch:hover {
    padding-left: 4vw;
    background-color: #4a90e2;
    border-color: #86c0ff;
    font-weight: bold;
}

.label-icon {
    width: 1.9vw;
    height: 1.9;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5vw; 
    margin-top: 0.5vw; 
    transition: width 0.3s, height 0.3s; filter: 0.3s;
}

.label-icon:hover {
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 2vw;
    filter: drop-shadow(0 0 0.5vw rgb(255, 247, 0));
}

.option input[type="radio"]:checked + .label-icon {
    /* Increase size and change border color for checked state */
    width: 2.3vw;
    height: 2.3vw;
    filter: drop-shadow(0 0 0.5vw rgb(255, 247, 0));
    border-radius: 2vw;
}

input[type="radio"] {
    display: none;
  }


  .color-box {
    background-color: aqua;
  }


  .color-box {
    background-color: aqua;
  }