.mainCareer {
    text-align: center;
}

.mainCareer h6 {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}

.mainCareer h5 {
    font-size: 48px;
    color: rgb(33, 72, 197);
    font-family: copperhead;
    font-weight: bold;
}

.mainCareer p {
    padding-right: 90px;
    padding-left: 90px;
    font-size:20px;
}

.subCareers {
    display: flex;
    justify-content: space-around;
    margin: 70px 0;
}

.subCareers .career-desc {
    height: 360px;
    width: 25%;
    border: solid 1px grey;
    text-align: center;
    border-radius: 5px;
    overflow: overlay;
    box-shadow: 10px 5px 5px rgb(86, 86, 86);
}

.subCareers h3 {
    margin-top: 10px;
}

.career-desc p {
    margin: 0 10px;
}

.review-system {
    border: solid 1px;
    text-align: center;
}

.review-radio{
    display:flex;
    justify-content: space-evenly;
    margin-left:50px;
}
