.Both-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.Home-box {
    width: 40vh;
    height: 50vh;
    border: 2px solid #000000;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 20px;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #4d4d4d;
    padding-top: 20px
}

.Title {
    width: 80%;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: left;
}