.brand-logo {
    display: flex;
    align-items: center;
}

.navbar-selected {
    text-decoration: underline;
}

.navbar-back {
    color: rgba(105, 35, 255, 0.5);
    margin-left: 1px;
    padding-left: 2%;
    padding-right: 7%;
    height: 23px;
    border: 10px;
    background: #6923ff;
    border-radius: 10px;
    opacity: 90%;
}

.navbar-transparent-back {
    background-color: rgba(105, 35, 255, 0)
}

.logo-img {
    width: 140px;
    height: auto;
    margin-right: -10px; 
    border-color: #6923ff;
    border: 20px;
}

.mx-auto .nav-link:hover {
    color: white;
}

.disabled-navbar .nav-link,
.disabled-navbar .navbar-back {
  pointer-events: none;
  opacity: 0.5;
}
