.brand-logo {
    display: flex;
    align-items: center;
}

.gradient-custom {
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgba(107, 17, 203, .9), rgba(78, 85, 97, 0.495));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(107, 17, 203, 0.655), rgba(78, 85, 97, 0.495));
}

.logo-img {
    width: 140px;
    height: auto;
    margin-right: -10px; 
}
  