.Pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    text-align: center;
    font-size: calc(10px + 2vmin);
  }

.Description {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 30%;
  background-color: #AFBEA2;
  outline: 1px solid black;
  border-radius: 10px;
}

.Description-header {
  background-color: #AFBEA2;
  width: 350px;
  height: 35px;
  text-align: center;
  outline: 1px solid black;
  border-radius: 10px;
}

.Question-instructions {
  width: 40%;
  height: 60%;
  text-align: center;
}