.Pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    text-align: center;
  }

.basic-description {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 30%;
}

.detailed-description {
  width: 40%;
  height: 30%;
}

.Description-header {
  background-color: #8a2be2;
  width: 250px;
  height: 35px;
  text-align: center;
}