.App {
  text-align: center;
  background-color: var(--off-tan);
  height: 100vh
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--british-khaki);
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: var(--dark-royal-blue);
}

.App-header a,
.App-header a:visited { /* This targets both unvisited and visited links */
  color: var(--dark-royal-blue); /* Set your desired color here */
  text-decoration: none; /* Removes the underline from links */
  border: solid 2px;
  padding: 10px;
}

.App-header a:hover,
.App-header a:focus {
  text-decoration: underline; /* Adds an underline when hovering or focusing on the link */
  color: var(--dawn-dish-blue); /* Optional: Changes color on hover or focus for better user experience */
}

.App-link {
  color: #61dafb;
}

.App-quiz {
  text-align: center;
  background-color: var(--off-tan);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
