footer {
    background-color: var(--british-khaki);
    display: grid;
    grid-template-columns: 75% 25%;
}

.github-name-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.api-key-form {
    display: grid;
    grid-template-columns: auto auto auto;
}