
.quiz-link-select-container {
    justify-items: center;
    align-items: center;
}

.select-quiz-link {
    text-align: center;
    border-radius: 25px;
    background-color: var(--dark-royal-blue);
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: var(--british-khaki);
}

.quiz-select {
    background-color: var(--diamons-blue);
    height: 100vh
}
