@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.App {
  text-align: center;
  background-color: #b4dcfa; /* Color in HEX */ 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #010f1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(180, 120, 89);
}

.Home-body {
  background-color: #11181e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  width: 400px;
  height: 400px;
  border: 3px solid black;
  padding: 40px;
  margin: 20px;
  display: inline-block;
  background-color: #f3e5f5;
  position: static;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.padding {
  padding-bottom: 10px;
}

.padding2 {
  padding-bottom: 150px;
}

.padding3 {
  padding-top: 10px;
}

.box-shadow {
    box-shadow: 10px 10px;
}

.animated-button {
  transition: all 0.2s ease-in-out;
}

.animated-button.hovered {
  transform: scale(1.1);
}

