.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #6fb4fe; 
  color: white;
  display: flex; 
  align-items: center; 
  padding: 0.2vw; 
}

.header {
  top: 0;
  width: 100%;
  height: 4vw; 
  background-color: white;  
  align-items: center; 
}

.footer-container {
  display: flex;
  cursor: pointer;
  margin-right: 3vw; 
  margin-left: 1vw; 
  font-family: "Poppins Light", sans-serif;
  font-weight: bold;
  font-size: 1.6vw; 
}

.footer-container:hover {
  opacity: 0.7;
}

.api-form {
  display: flex;
  align-items: center;
  margin-left: 20vw; 
}

.api-form .form-control {
  width: 20vw; 
}

.api-form .Submit-Button {
  width: 10vw; 
}

.navBar {
    background-color: #6fb4fe;
    font-size: 2.7vw;
    color: white;
    flex: 100 100 auto; /* adjust as needed */
}

.search-bar {
  height: 50% !important;
}