.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #6fb4fe; 
  color: white;
  display: flex; 
  align-items: center; 
  padding: 0.2vw; 
}

.header {
  top: 0;
  width: 100vw;
  height: 4vw; 
  background-color: white;  
  align-items: center; 
}

.footer-container {
  display: flex;
  cursor: pointer;
  margin-right: 3vw; 
  margin-left: 1vw; 
  font-family: "Poppins Light", sans-serif;
  font-weight: bold;
  font-size: 1.6vw; 
}

.footer-container:hover {
  opacity: 0.7;
}

.api-form {
  display: flex;
  align-items: center;
  margin-left: 20vw; 
}

.api-form .form-control {
  width: 20vw; 
}

.api-form .Submit-Button {
  width: 10vw; 
  background-color: #0980ff;
  border-color: #0980ff;
}

.api-form .Submit-Button:hover {
  width: 10vw; 
  background-color: #0053ac;
  border-color: #0053ac;
}

.navBar {
  background-color: #6fb4fe;
  display: flex;
  height: 4.5vw;
}

.search-bar {
  margin: auto;
  width: 19vw;
  height: 2.7vw; /* Adjust the width as needed */
  font-size: 1vw; /* Adjust the font size as needed */
  margin-left: 44.5vw;
}

.career-search {
  margin-top: 0.8vw;
  margin-left: 1vw;
  color: white;
  font-family: "Poppins", sans-serif;
}

.career-search:hover {
  opacity: 0.9;
  cursor: pointer;
}