@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.App {
  text-align: center;
  background-color: #b4dcfa; /* Color in HEX */ 
  background-image: url('images/city.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Apply specified font family to all text */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #010f1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(180, 120, 89);
}

.Home-body {
  background-color: #11181e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  font-family: "Poppins", sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  width: 400px;
  height: 400px;
  border: 3px solid black;
  padding: 40px;
  margin: 20px;
  display: inline-block;
  background-color: #f3e5f5;
  position: static;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-items: center;


}


.h3-box {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.cab {
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  animation: cab 10s linear infinite;
  bottom: -10px;
  left: 0;
}

@keyframes cab {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(300%);
  }
}

.padding {
  padding-bottom: 10px;
}

.padding-text {
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.padding2 {
  padding-bottom: 150px;
}

.padding3 {
  padding-top: 30px;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.padding4 {
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.padding5 {
  padding-top: 90px;
  padding-bottom:100px;
}

.padding6 {
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.padding7 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.padding8 {
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.box-shadow {
    box-shadow: 10px 10px;
}

.animated-button {
  transition: all 0.2s ease-in-out;
}

.animated-button.hovered {
  transform: scale(1.1);
}

