
.App {
  text-align: center;
  display: block;
  min-height: 100vh;
  width: 100%;
  background-color: azure;
}

.App-header {
  /* background-color: #282c34; */
  background-color: rgb(255, 255, 255);
  min-height: 10%;
  min-width: 100%;

  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  align-items: center;
  font-size: calc(5x + 2vmin);
  color: rgb#282c34;
  text-align: start;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  transition: 10s;

}

.App-header--heading {
  padding-inline: 20px;
}

.App-content {
  min-height: 90vh;
  min-width: 100vw;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  /* background-color:#282c34; */
  background-color: rgb(255, 255, 255);
  box-shadow: 0px -2.98256px 7.4564px rgba(0, 0, 0, 0.1);

  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 1vh;
  min-height: 15vh;
  min-width: 100%;
}

button {
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: #282c34;
  color: white;
  transition: 0.5s;

  padding: 10px 25px 10px 25px;

  font-weight:600;
  font-size: larger;
}

button:hover {
  background-color: white;
  color:#282c34;
}