.detailed-questions-container {
    padding: 20px;
  }
  
  .page-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .progress-bar {
    margin-bottom: 20px;
  }
  
  .questions-form {
    background-color: #645858;
    border-radius: 8px;
    padding: 20px;
  }
  
  .question-container {
    margin-bottom: 20px;
  }
  
  .question {
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
  }
  
  .option {
    margin-left: 20px;
  }
  
  .get-results-btn {
    margin-top: 20px;
  }
  .selectedOption {
    background-color: #f0f0f0; /* Change the background color to your desired highlight color */
  }

  h2 {
  /* font-weight: bold; */
  font-size: 2em;
  text-shadow: 2px 2px 4px black;
  height: 50px;
  text-decoration: underline;
}

.progress-bar {
  margin-bottom: 20px;
  background-color: red; /* Light sand color */
  border: 1px solid #d4a05e; /* Sandstone border color */
  border-radius: 10px; /* Rounded corners */
}
