.body {
    --color-background: #8ad7f8;
    --color-foreground: #000000;
    --color-header-background: rgb(49, 141, 183);
    --color-header-foreground: white;
}

.body-dark {
    --color-background: #000000;
    --color-foreground: rgb(201, 201, 201);
    --color-header-background: rgb(28, 69, 88);
    --color-header-foreground: rgb(201, 201, 201);
}

.General-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 3vmin);
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    color: var(--color-header-foreground);
    background-color: var(--color-header-background);
}

.Header-button {
    position: absolute;
    align-items: right;
    font-size: calc(10px + 2vmin);
    margin-right: 5%;
    right: 0;
    color: var(--color-header-foreground);
}

.Header-toggle {
    position: absolute;
    align-items: left;
    font-size: calc(10px + 1vmin);
    margin-left: 5%;
    margin-top: 0px;
    left: 0;
    color: var(--color-header-foreground);
}

.Page-body {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: calc(5px + 2vmin);
    position: relative;
    background-color: var(--color-background);
    color: var(--color-foreground);
    padding-top: 3vh;
}

.basic-button {
    height: '7vh';
    width : '50vh'; 
    font-size: "3vh";
    color: "#424242";
}

.Button-visible-true {
    --visibility-button: visible;
}

.Button-visible-false {
    --visibility-button: hidden;
}

.Button-next {
    visibility: var(--visibility-button);
}

.Button-next {
    visibility: var(--visibility-button);
    position: absolute;
}

.Button-report {
    visibility: var(--visibility-button);
    position: absolute;
}

.API-Footer {
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}