.General-header {
    margin-bottom: 3vh;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 3vmin);
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

.Header-button {
    position: absolute;
    align-items: right;
    font-size: calc(10px + 2vmin);
    margin-right: 5%;
    right: 0;
}

.Header-toggle {
    position: absolute;
    align-items: left;
    font-size: calc(10px + 1vmin);
    margin-left: 5%;
    left: 0;
}

.Page-body {
    background-color: white;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: calc(5px + 2vmin);
    color: black;
    position: relative;
}

.basic-button {
    height: '7vh';
    width : '50vh'; 
    font-size: "3vh";
    color: "#424242";
}

.API-Footer {
    background-color: black;
    color: black;
    margin-top: 0px;
}