HomePage.css
.HomePage {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace, fantasy;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
  }
  
  .quizzes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* float: left; */
  }

  .HomePage h1 {
    font-weight: bold;
    margin-bottom: 100px;
    font-size: 3em;
    text-shadow: 2px 2px 4px black;
    height: 50px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .question {
    margin: 15px;
    text-align: center;
    /* background-color:#8d8741a0; */
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0, 4px, 6px, black;
    width: 75%;
  }

  .question h2 {
    margin-bottom: 10px;
  }

  .question p {
    line-height: 1.6;
  }

  .login-section {
    position: absolute;
    top: 5px;
    right: 100px;
    width: 300px; /* Adjust the width as needed */
    height: 120px;
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 10px;
    font-size: 12px;
  }

  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 150px;
    margin-top: 0px;
  }
  
  .login-form {
    width: 100%;
  }

  .button-container{
    display: flex;
  }
  
  .create-account-button {
    margin-top: 10px;
    height: 35px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
  }
  
  .login-button {
    margin-top: 10px;
    height: 35px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
  }

  .error-message {
    margin-top: 10px;
    font-weight: bold;
  }

  .api-key-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .api-key-input input[type="password"] {
    width: 200px; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing between the input and the button */
  }