HomePage.css
.HomePage {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace, fantasy;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
  }
  
  .quizzes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    float: left;
  }

  .HomePage h1 {
    font-weight: bold;
    margin-bottom: 100px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px black;
    height: 50px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }
  
  .question {
    margin: 15px;
    text-align: center;
    background-color:#8d8741a0;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0, 4px, 6px, black;
    width: 100%;
  }

  .question h2 {
    margin-bottom: 10px;
  }

  .question p {
    line-height: 1.6;
  }

  /* Add more styles as needed for the login section */
  .login-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 20px;
    float: right;
  }

.login-form {
  width: 100%;
  max-width: 300px; /* Adjust max-width as needed */
}

.create-account-button {
  margin-top: 20px;
}

  .api-key-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .api-key-input input[type="password"] {
    width: 200px; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing between the input and the button */
  }
  