.button {
    text-align: center;
}

.Text-basic {
    text-align: left;
    margin-left: 10%;
}

.Text-detailed {
    text-align: left;
    margin-left: 10%;
}

.Page-text {
    margin-bottom: 5vh;
    text-align: left;
    margin-left: 15%;
    margin-right: 16%;
}