body {
  background-image: url(https://files.oaiusercontent.com/file-Q0k12BOxbhXG3xvpb6O9ZPj3?se=2024-04-30T18%3A36%3A15Z&sp=r&sv=2021-08-06&sr=b&rscc=max-age%3D31536000%2C%20immutable&rscd=attachment%3B%20filename%3D7895a4a2-9351-41c8-978c-386fa052f73c.webp&sig=5ZF8CPfRi2wOW9iqhQLoGwtLVHSvPHloME8vS1rJBuc%3D);
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
