body {
  background-image: url(https://img.freepik.com/free-photo/beige-paper-textured-background-simple-style_53876-139954.jpg?t=st=1714066527~exp=1714070127~hmac=871ca7147e558385259c3c390c65ed55e432089aa71d87a931f822a93f8c3a11&w=2000);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
