.navbar {
	background-color: #e0cce5;
	padding: 10px 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #c64d23;
}

.navbar a {
	padding: 10px 15px;
	border-radius: 5px;
	color: #c64d23;
	transition: all 0.2s ease-in-out;
	font-weight: 700;
	font-size: 17px;
	border: none;
	text-decoration: none;
}
h1 {
	font-size: 30px;
}

.nav-link {
	color: #fd6b01;
	cursor: pointer;
}

.nav-link:hover {
	color: #c64d23;
}

.navbar a:hover {
	box-shadow: 0 0 30px #4b3f9f;
}

.navbar-brand img {
	width: 60px;
	height: 60px;
}
