.container-wrapper {
  margin: 15px;
  text-align: center;
  background-color: #8d8741a0; /* Semi-transparent dark yellow */
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Adjust box shadow as needed */
  width: 100%;
  display: inline-block;
}


.report-container {
  margin: 0 auto; /* Center the report container */
  text-align: center;
}

.report-title {
  font-size: 32px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.report-list {
  list-style: none;
  padding: 0;
}

.report-item {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: bold;
}

.loading-text {
  font-size: 18px;
  color: #ffffff;
}
