.about-us {
    font-size: large;
    font-size: 100px;
    font-weight: 50%;
    margin-top: -55px;
    color: #6923ff;
}

.our-team {
    color: #6923ff;
}

.team-names {
    color: white;
}

.about-us-section {
    text-align: center;
}

.about-page-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-items-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
}